/*-- scss:defaults --*/


/*-- scss:rules --*/

#workbench {
    position: absolute;
    top: 4px;
    left: 5px;
}

#connect {
    position: absolute;
    top: 4px;
    left: 919px;
}

#ppm {
    position: absolute;
    top: 683px;
    left: 5px;
}

#hexes {
    position: absolute;
    top: 0px;
    left: 0px;
}

#link {
    position: absolute;
    bottom: 0px;
    left: 31px;
}